<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="header">
    <div class="header-inner">
        <div class="header-title">기업 재생에너지 지원센터 관리자</div>

        <div class="header-user-info">
            <span><strong>관리자</strong>님 환영합니다.</span>
            <button class="btn-logout">로그아웃</button>
        </div>
    </div>

    <script>
        const btnLogout = document.querySelector('.btn-logout');
        if(btnLogout) {
            btnLogout.addEventListener('click', function() {
                if(!confirm('로그아웃 하시겠습니까?')) return;

                fetch('/api/logout', { method: 'POST' })
                    .then(response => {
                        if(response.ok) {
                            location.href = '/adminlogin';
                        }
                    })
                    .catch(err => console.error(err));
            });
        }
    </script>
</header>

</body>
</html>