<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<aside th:fragment="sidebar(activePage)" class="sidebar">
    <div class="sidebar-title">마이페이지</div>
    <ul>
<!--    <li th:classappend="${activePage == 'dashboard'} ? 'active'"><a th:href="@{/seller/mypage}">📊 대시보드</a></li>-->
        <li th:classappend="${activePage == 'profile'} ? 'active'">
            <a th:href="@{/seller/profile}">🏢 기업 정보</a>
        </li>
        <li th:classappend="${activePage == 'sellerpost'} ? 'active'">
            <a th:href="@{/seller/sellerpost}">📢 판매글 관리</a>
        </li>
        <li th:classappend="${activePage == 'request'} ? 'active'">
            <a th:href="@{/seller/chat/list}">📩 구매 요청</a>
        </li>
        <li th:classappend="${activePage == 'password'} ? 'active'">
            <a th:href="@{/seller/passwordUpdate}">🔒 비밀번호 수정</a>
        </li>
    </ul>
</aside>
</body>
</html>